<div class="row">    
	<div class="eight columns push-four whitepage">
		<h3>Opret et nyt spørgsmål</h3>
		<%= simple_form_for @question do |f| %>
			<%= f.input :title, :label => "Skriv dit spørgsmål her:"  %>
			<%= f.input :category, :as => :select, :collection => Question::CATEGORIES, :include_blank => false %>
			<%= f.input :body, :label => "Informationer omkring dit spørgsmål:"%>
			<%= f.input :anonymous, :label => ' Afkryds boksen hvis du gerne vil være anonym?' %>
			<%= f.button :submit, :value => "Opret spørgsmål", :class => "button" %>
		<% end %>
    </div>
    <%= render :partial => 'navigator' %>
</div>