<div class="row">
  <div class="twelve columns centered">
    <div class="panel whitepage">
		<h2>Kontakt os</h2>
		<% if request.post? %>
		<p>Din besked er sendt til os, vi vil prøve at svar så hurtigt som muligt.</p>
		<% else %>
		<p>Du er mere end velkommen til at kontakte os hvis du har noget på hjertet.<p>
		<%= simple_form_for :contact, :url => contact_path do |f| %>
			<%= f.input :name, :label => 'Navn' %>
			<%= f.input :email %>
			<%= f.input :body, :as => :text, :label => 'Fri tekst' %>
			<%= f.button :submit, :value => "Send besked", :class => "button" %>
		<% end %>
		<% end %>
	</div>
  </div>
</div>