<li id="comment_<%=comment.id%>" class="comment">
	<div class="row">
		<div class="small-3 columns">
			<%= image_tag(comment.user.avatar_url) %>
		</div>
		<div class="small-9 columns">
			<span class="nickname"><%= comment.user.fullname %></span> <%=simple_format(comment.body)%>

			<span class="created_at"><%=comment.created_at.strftime('%d %b %y')%></span>

			<% if is_owner?(comment) %>
				<div class="options"><%= link_to "Fjern", comment_path(comment), :method => :delete, :confirm => 'Er du sikker du vil slette din anmeldelse?', :remote => true, :id => "remove_comment" %></div>
			<% end %>
		</div>
	</div>
</li>