<li id="question_<%=question.id%>">
	<div class="row">
		<div class="two columns hide-for-small">
			<div class="total-comments"><strong><%=question.comments.length%></strong><br />svar</div>
		</div>
		<div class="ten columns">
			<h4><%=link_to question.title, question_path(question.id, question.title.parameterize)%></h4>
			<p>oprettet d. <%=question.created_at.strftime('%d %b %y')%> af <% if question.anonymous? %>Annonym bruger<% else %><%=link_to question.user.nickname, user_path(question.user)%><% end %> om <%=question.category%></p>
		</div>
	</div>
</li>