<% content_for(:title, @title) %>
<% content_for(:meta_title, @description) %>
<% content_for(:meta_description, @description) %>

<div class="row">
	<div class="small-12 columns">
		<p><%=raw @description%></p>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<%=link_to "Opret et nyt spørgsmål", new_question_path, :class => 'new_question success button expand no-margin'%>
	</div>
</div>

<ul id="questions">
	<%= render :partial => 'question', :collection => @questions %>
</ul>
	
<div class="row">
	<div class="small-12 columns">
		<%= will_paginate @questions %>
	</div>
</div>	

<%= render :partial => 'navigator' %>