<% content_for(:title, "Opret et nyt spørgsmål") %>

<%= enable_back %>

<div class="row">    
	<div class="small-12 columns">
		<%= simple_form_for @question do |f| %>
			<%= f.input :title, :label => "Skriv dit spørgsmål her:"  %>
			<%= f.input :category, :as => :select, :collection => Question::CATEGORIES, :include_blank => false %>
			<%= f.input :body, :label => "Informationer omkring dit spørgsmål:"%>
			<%= f.button :submit, :value => "Opret spørgsmål", :class => "button extend" %>
		<% end %>
    </div>
</div>

<%= render :partial => 'navigator' %>