<% content_for(:title, @question.title) %>
<% content_for(:meta_title, @question.title) %>
<% content_for(:meta_description, @question.title) %>

<%= enable_back %>

<div class="row margin-top15 margin-bottom15">    
	<div class="small-12 columns">
		<div class="outter-box">
			<div class="inner-box">
				<div class="header-container">
					<div class="header-content">
						<p><%=@question.body%></p>
						<p class="small">oprettet d. <%=@question.created_at.strftime('%d %b %y')%> af <strong><% if @question.anonymous? %>Annonym bruger<% else %><%= @question.user.nickname %><% end %></strong></p>
						
						<% if is_owner?(@question) %>
							<div class="options small"><%= link_to "Redigere spørgsmål", edit_question_path(@question.id) %></div>
						<% end %>
					</div>
				</div>
				<div class="comments-container">
					<div class="comments-header">
						<h3>Bruger svar (<%=@question.comments.length%>)</h3>
					</div>

					<ul class="comments-list">
						<%=render :partial => 'comment', :collection => @question.comments.order('id ASC').includes(:user) %>
					</ul>
				</div>
				
				<div class="panel bottom-left-corner bottom-right-corner">
					<% if not logged_in? %>
						<strong>Du bedes <a href="/login">logge ind</a> hvis du vil kommentarer dette spørgsmål</strong>
					<% elsif @question.visible?%>
						<%= simple_form_for Comment.new, :url => question_write_answer_path(@question.id), :remote => true, :html => {:id => 'question_new_comment'} do |f| %>
					    	<%= f.input :body, :label => 'Kommentare' %>
							<%= f.input :table, :as => :hidden, :input_html => {:value => 'question' }%>
							<%= f.input :table_id, :as => :hidden, :input_html => {:value => @question.id }%>
							<%#= f.input :anonymous, :label => ' Afkryds boksen hvis du gerne vil være anonym?' %>
							<%= f.button :submit, :value => "Send kommentar", :class => "button" %>
						<% end %>
					<% else %>
						<strong>Spørgsmålet er lukket, så man kan ikke længere kommentarer den.</strong>
					<% end %>
				</div>
			</div>
		</div>
    </div>
</div>

<%= javascript_tag do %>
$(function(){
 	if(window.location.hash) {
		var hash = window.location.hash.substring(1);
		$target = $('#comment-' + hash)
		$('html, body').stop().animate({'scrollTop': $target.offset().top - 100}, 900, 'swing', function() {
			console.log($target)
			$target.effect("highlight", {}, 2000);
		})
  	}
});
<% end %>