<p><%=@location.name.big%><br />
<%=@location.address%><br />
<%=@location.post%><br />
<%=@location.city.country.name%></p>
<a class="button extend no-margin" href="http://maps.google.com?q=<%=@location.address%>,<%=@location.post%>" target="_blank">Vis på kort</a>