<% content_for(:title, @location.name.big) %>
<% content_for(:meta_title, @location.name.big + " Vandpibe Cafe") %>
<% content_for(:meta_description, @location.name.big + " Vandpibe Cafe ligger i " + @location.city.name.big + ". Alt hvad du vil vide om Cafeen, kan du læse på vandpibecafe.dk") %>

<%= enable_back(city_path(@city.name.to_url)) %>

<div class="row margin-top15 margin-bottom15">
	<div class="small-12 columns">
		<div class="outter-box">
			<div class="inner-box">
				<div class="content">
					<% if @location.description != "" %>
					<%= simple_format(@location.description)%>
					<% end %>

					<ul class="large-block-grid-4" data-clearing>
						<%= render(:partial => 'upload', :collection => @location.uploads, :as => :upload)%>
					</ul>
				</div>

				<div class="sidebar-block">
					<div class="sidebar-label">Adresse</div>
					<div class="sidebar-content"><%= render 'address' %></div>
				</div>

				<% unless @location.references.empty? %>
				<div class="sidebar-block">
					<div class="sidebar-label">Find <%=@location.name.big%> på:</div>
					<div class="sidebar-content"><ul><%= render(:partial => 'reference', :collection => @location.references, :as => :reference)%></ul></div>
				</div>
				<% end %>
				<div class="sidebar-block">
					<div class="sidebar-label">Bedømmelse</div>
					<div class="sidebar-content"><%= render :partial => 'rating', :locals => {:location => @location }%></div>
				</div>
				<% unless @location.tobaccos.empty? %>
				<div class="sidebar-block">
					<div class="sidebar-label">Vandpibe Tobak</div>
					<div class="sidebar-content"><%= render :partial => 'tobacco', :collection => @location.tobaccos, :as => :tobacco %></div>
				</div>
				<% end %>
				
				<div class="comments-container">
					<div class="comments-header">
						<h3>Bruger anmeldelser (<%=@location.comments.length%>)</h3>
					</div>

					<div class="content">
						<% if @location.visible? %>
						<div class="panel graypage">
							<%= render 'comment_form' %>
						</div>
						<% end %>

						<ul class="comments-list">
							<%=render :partial => 'comment', :collection => @location.comments.order('id DESC').includes(:user) %>
						</ul>
					

						<% if @location.visible? && @location.comments.length > 5 %>
						<div class="panel graypage">
							<%= render 'comment_form' %>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div> 
	</div>
</div>


<%= javascript_tag do %>
$(function(){
 	if(window.location.hash) {
		var hash = window.location.hash.substring(1);
		$target = $('#comment-' + hash)
		$('html, body').stop().animate({'scrollTop': $target.offset().top - 100}, 900, 'swing', function() {
			console.log($target)
			$target.effect("highlight", {}, 2000);
		})
  	}
});
<% end %>