<li class="<%=location.name%>" id="<%=location.name%>">
	<div class="row">
	    <div class="three mobile-one columns">
			<% if location.uploads.empty? %>
				<%= link_to raw('<img src="/assets/thumb.gif" style="width:100%;height:60px;">'), city_location_path(@city.name, location.name.parameterize) %>
			<% else %>
				<%= link_to(image_tag(asset_host + location.uploads.first.avatar.path(:medium), :style => 'width:100%;height:60px;'), city_location_path(@city.name, location.name.parameterize)) %>
			<% end%>
	    </div>
	    <div class="nine mobile-three columns">
			<h5 class="no-top-margin"><%= link_to location.name.big, city_location_path(@city.name, location.name.parameterize), :alt => 'nice' %></h5>
			<h6 class="subheader"><%= location.city.name.big%></h6>
	    </div>
	</div>
</li>
