<div class="row" style="margin-bottom:10px;">
  <div class="four columns">
    <%= link_to(image_tag('logo3.png'), '/', :alt => 'Vandpibe Cafe')%>
  </div>
  <div class="eight columns navigation">
    <div class="login">
      <%= javascript_tag :login do %>
        $(function() {
          $.get('<%=authjs_path%>', function(data) {
            $('.login').html(data)
          });
        })
      <% end %>
    </div>

    <ul class="block-grid two-up mobile-one-up">
      <li><%= link_to(image_tag('debat.png'), questions_path, :alt => 'Vandpibe Cafe Forum')%></li>
      <li><%= link_to(image_tag('top10.png'), toplist_path, :alt => 'Bedste Vandpibe Cafeer')%></li>
      <li><%= link_to(image_tag('contact.png'), "https://www.facebook.com/vandpibecafe.dk", :alt => 'Kontakt os på facebook', :target => '_blank')%></li>
      <li><%= link_to(image_tag('teledoktor.png'), "https://www.facebook.com/TeleDoktor?fref=ts", :alt => 'TeleDoktor', :target => '_blank')%></li>
    </ul>
  </div>
</div>
