<div class="navigation">
  <!--<div class="row">
    <div class="columns large-12 text-center margin-bottom15"><small>Reklame for vores partner</small><br /><a href="https://www.facebook.com/TeleDoktor" target="_blank"><img src="/assets/teledoktor.png" alt="Tele Doktor" /></a></div>
  </div>-->
  <div class="row">
    <div class="large-4 columns">
      <ul class="sections">
        <li><span class="foundicon-idea"></span><%= link_to('Forum', questions_path)%><p>Deltag i debatten med andre.</p></li>
        <li><div>&nbsp;</div></li>
        <li><span class="foundicon-graph"></span><%= link_to('Top liste', toplist_path)%> <p>Bedste Vandpibe Cafeer!</p></li>
        <li><div>&nbsp;</div></li>
        <li><span class="foundicon-mail"></span><%= link_to('Kontakt os', "https://www.facebook.com/vandpibecafe.dk", :target => '_blank')%><p>Har du spørgsmål på hjertet?</p></li>
      </ul>
    </div>
    <div class="large-4 columns text-center">
      <%= link_to(image_tag('logo4.png', :style => "height:88px"), '/', :alt => 'Vandpibe Cafe')%>
    </div>
    <div class="large-4 columns text-center login">
    </div>
  </div>

  <hr style="margin:15px 0px 0px 0px;"/>
</div>

<%= javascript_tag :login do %>
$(function() {
  $.get('<%=authjs_path%>', function(data) {
    $('.login').html(data)
  });
})
<% end %>