<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="da" itemscope itemtype="http://schema.org/Vandpibe">
 <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<%= render '/layouts/header' %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Advent+Pro:500,700|Noticia+Text:400,400italic,700,700italic&subset=latin,latin-ext">
  <%= stylesheet_link_tag    "icons/general_enclosed_foundicons.css" %>
	<%= stylesheet_link_tag    "web/application", :media => "all" %>
	<%= javascript_include_tag "application" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="icons/general_enclosed_foundicons_ie7.css">
  <![endif]-->
	<%= render '/layouts/google' %>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBEmB9qG5E3HPSKQ_Veb0ErystIyagHXNQ&sensor=false"></script>
  <%= csrf_meta_tags %>
</head>
<body id="<%=params[:controller]%>">

<%= render 'layouts/navigation' %>

<% if flash[:notice]%>
<div class="row">
  <div class="twelve columns">
    <div class="alert-box success">
      <%= flash[:notice]%>
        <a href="" class="close">&times;</a>
    </div>
  </div>
</div>
<% end %>

<div class="<%=params[:action]%>">
  <%= yield %>
</div>

<%= render 'layouts/welcome' %>
<%= render 'layouts/footer' %>


</body>
</html>

