<!DOCTYPE html>
<html lang="da" itemscope itemtype="http://schema.org/Vandpibe">
<head>
	<meta charset="utf-8" />
	<%= render '/layouts/header' %>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= render '/layouts/google' %>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBEmB9qG5E3HPSKQ_Veb0ErystIyagHXNQ&sensor=false"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<% if flash[:notice]%>
<div class="row">
  <div class="twelve columns">
    <div class="alert-box success">
      <%= flash[:notice]%>
        <a href="" class="close">&times;</a>
    </div>
  </div>
</div>
<% end %>


<div class="notify" position="middleRight">
  <div class="addthis_toolbox addthis_floating_style addthis_32x32_style" style="left:20px;top:195px;">
  <a class="addthis_button_preferred_1"></a>
  <a class="addthis_button_preferred_2"></a>
  <a class="addthis_button_preferred_3"></a>
  <a class="addthis_button_preferred_4"></a>
  <a class="addthis_button_compact"></a>
  </div>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fd994d74ae6bfdc"></script>
  <!-- AddThis Button END -->
</div>

<%= yield %>

<%= render 'layouts/welcome' %>
<%= render 'layouts/footer' %>

</body>
</html>
