<% content_for(:title, 'Vandpibe Cafe ' + @city.name.big) %>
<% content_for(:meta_title, 'Vandpibe Cafe ' + @city.name.big) %>
<% content_for(:meta_description, "Oversigt over alle Vandpibe Cafeer i " + @city.name.big + ". Info omkring Åbningstider, Tobak, Vandpibe, Bedste Cafe, osv.") %>

<div class="row">
	<div class="twelve columns padding-top10">
		<%=breadcrumbs(@city.name => '#')%>
	</div>
</div>

<hr style="margin:0px;"/>
<div id="map" style="height:300px;"></div>
<hr style="margin:0px 0px 15px 0px;"/>

<%= javascript_tag do %>
	$(function() {
		init_map({city_id: <%=@city.id%>, latitude: <%=@city.latitude%>, longitude: <%=@city.longitude%>, zoom: 12})
	});
<% end %>



<div class="row">        
    <div class="nine columns push-three">
		<% if @city.locations.nil? %>
		<p>Vandpibe Cafe i <%=@city.name.big%> mangler der, hvis du ved der ligger en vandpibe cafe i <%=@city.name.big%> så er du mere end velkommen til at fortælle os via <%= link_to "Kontakt os", contact_path %>.</p>
		<% else %>
		<ul class="block-grid three-up mobile-one-up">
			<%=render :partial => 'location', :collection => @city.locations, :as => :location %>
		</ul>
		<% end %>
    </div>

    <div class="three columns pull-nine">        
      <ul class="vertical tabs">
		<%=render @city.country.cities %>
      </ul>
    </div>    
</div>