%aside#sidebarLeft.sidebarLeft
  %div.scrollableArea
    %a(class="shutLeft" href="") &#10006;
    %div(class="you padded")
      = link_to root_url do
        = image_tag('logo4.png', :alt => "VandpibeCafe.dk", :width => 180)
    %ul.paddedLight
      %li
        = link_to root_url do
          %span.fa.fa-home
          Hjem
      %li
        = link_to cities_path do
          %span.fa.fa-globe
          Cafeer
      %li
        = link_to toplist_path do
          %span.fa.fa-signal
          Topliste
      %li
        = link_to "http://www.vandpibesalg.dk" do
          %span.fa.fa-shopping-cart
          Køb Vandpibe
