%section#page.page
  %header.topBar
    %a(id="leftBurger" class="slideRight" href="") &#9776;
    %a(id="rightBurger" class="slideLeft" href="")
      .span.fa.fa-globe(style="font-size:.6em")

    %h1(style="margin-top:14px") VandpibeCafe.dk

  .scrollableArea
    = render 'layouts/navigation'
    = yield :subnavigation

    - if flash[:notice]
      .flash
        .row
          .columns
            = flash[:notice]

    %div(id="#{params[:controller]}")
      %div(class="#{params[:action]}")
        = yield

    = render 'layouts/footer'
