<% content_for(:title, @description) %>
<% content_for(:meta_title, @description) %>
<% content_for(:meta_description, @description) %>


<div class="row">    
	<div class="large-9 columns">
		
		<h3><%=@title%></h3>
		<p><%= raw @description%></p>

		<ul id="questions">
			<%= render :partial => 'question', :collection => @questions %>
		</ul>
		
		<%= will_paginate @questions %>
    </div>

    <%= render :partial => 'navigator' %>
</div>