<h5>Bedømmelse:</h5>
<%= javascript_tag do %>
$(function() {
	$('#site_rate_waterpipe_<%=location.id%>').raty({half : true, precision  : true, score : parseFloat(<%=location.waterpipe_rating%>), readOnly: true});
	$('#site_rate_service_<%=location.id%>').raty({half : true, precision  : true, score : parseFloat(<%=location.service_rating%>), readOnly: true});
	$('#site_rate_mood_<%=location.id%>').raty({half : true, precision  : true, score : parseFloat(<%=location.mood_rating%>), readOnly: true});
	$('#site_rate_furniture_<%=location.id%>').raty({half : true, precision  : true, score : parseFloat(<%=location.furniture_rating	%>), readOnly: true});
});
<% end %>
Vandpibe: <span id="site_rate_waterpipe_<%=location.id%>"></span><br />
Stemning: <span id="site_rate_mood_<%=location.id%>"></span><br />
Service: <span id="site_rate_service_<%=location.id%>"></span><br />
Indretning: <span id="site_rate_furniture_<%=location.id%>"></span><br />