<% content_for(:title, @location.name.big + " Vandpibe Cafe") %>
<% content_for(:meta_title, @location.name.big + " Vandpibe Cafe") %>
<% content_for(:meta_description, @location.name.big + " Vandpibe Cafe ligger i " + @location.city.name.big + ". Alt hvad du vil vide om Cafeen, har vi på www.vandpibecafe.dk") %>

<%= render :partial => 'breadcrumbs'%>

<% if @nearest && @nearest.id != @location.id %>
	<%= render :partial => 'nearest', :locals => {:location => @nearest}%>
<% end %>

<div class="row">
	<div class="eight columns">
		<div class="panel whitepage" style="margin-bottom:15px;">
			<h1><%=@location.name.big%> <% if not @location.visible? %><small class="red-color">[CAFEEN ER LUKKET]</small><% end %></h1>
			<h2 class="subheader"><%= simple_format(@location.description)%></h2>

			<ul>
				<%= render(:partial => 'reference', :collection => @location.references, :as => :reference)%>
			</ul>

			<ul class="block-grid six-up" data-clearing>
				<%= render(:partial => 'upload', :collection => @location.uploads, :as => :upload)%>
			</ul>
		</div>

		<ul class="tabs-content">
			<li class="active">
		  		<dl class="tabs contained">
		    		<dd class="active"><a href="#location_comments">Bruger anmeldelser (<%=@location.comments.length%>)</a></dd>
		  		</dl>
		  	
		  	<ul class="tabs-content contained">
		    	<li class="active" id="location_comments"> 
		      	<%=render :partial => 'comment', :collection => @location.comments.includes(:user), :spacer_template => 'spacer_template'%>
		    	</li>
		    </ul>
		</ul>

		<% if @location.visible? %>
		<div class="panel graypage">
			<%= render 'comment_form' %>
		</div>
		<% end %>

	</div>
	<div class="four columns">
		<div class="panel" id="map" style="height:250px;">
			<%= javascript_tag do %>
				$(function() {
					init_map({city_id: <%=@location.city.id%>, location_id: <%=@location.id%>, latitude: <%=@location.latitude%>, longitude: <%=@location.longitude%>, zoom: 17})
				});
			<% end %>
	    </div>

		<div class="panel">
			<h3>Adresse:</h3>
			<p><%=@location.name.big%><br />
			<%=@location.address%><br />
			<%=@location.post%><br />
			<%=@location.city.country.name%></p>
			<a class="button" href="http://maps.google.com?q=<%=@location.address%>,<%=@location.post%>" target="_blank">Vis på kort</a>
		</div>

		<div class="panel callout">
			<%= render :partial => 'site_rating', :locals => {:location => @location }%>
		</div>

		<div class="panel sixteen-line-height">
			<h3>Vandpibe Tobak:</h3>
			<%= render :partial => 'tobacco', :collection => @location.tobaccos, :as => :tobacco %>
		</div>

		<br />
	</div>
</div>
