<div class="row">
	<div class="twelve columns">
		<ul class="breadcrumbs">
		<li><a href="/">Start side</a></li>
		<li class="current"><%= link_to 'Bedste 10 Vandpibe Cafeer', "#", :alt => "Bedste 10 Bedste Cafeer" %></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		<div class="panel whitepage" style="margin-bottom:15px;">
      <h1><%= toplist_title %></h1>
			<p>Er du ikke enig med listen? Så må er du mere end velkommen til at logge ind og stemme for den vandpibe du synes er bedst.</p>

      <p>Du har mulighed for at sortere efter bedste vandpibe, stemning, service eller indretning.</p>

      <%= link_to "Bedste Vandpibe Cafeer", toplist_path, :class => 'button' %>
      <%= link_to "Bedste Vandpibe", order_toplist_path('bedste+vandpibe'), :class => 'button' %>
      <%= link_to "Bedste Stemning", order_toplist_path('bedste+stemning'), :class => 'button' %>
      <%= link_to "Bedste Service", order_toplist_path('bedste+service'), :class => 'button' %>
      <%= link_to "Bedste Indretning", order_toplist_path('bedste+indretning'), :class => 'button' %>
    <br /><br />
		</div>

		<% @locations.each do |location|%>
		<div class="panel" style="margin-bottom:15px; background-color:#e1e1e1">
			<h1><%=link_to location.name.big, city_location_path(location.city.name, location.name.parameterize)%></h1>
			<p class="subheader"><%=location.description%></p>

			<%= render :partial => 'site_rating', :locals => {:location => location} %>
		</div>
		<% end %>
	</div>
</div>
