<h5>Brugerens bedømmelse:</h5>
<%= javascript_tag do %>
$(function() {
	$('#rate_service').raty({half : true, score : parseFloat(<%=@user_rate[:service]%>), readOnly: true});
	$('#rate_waterpipe').raty({half : true, score : parseFloat(<%=@user_rate[:waterpipe]%>), readOnly: true});
	$('#rate_furniture').raty({half : true, score : parseFloat(<%=@user_rate[:furniture]%>), readOnly: true});
	$('#rate_mood').raty({half : true, score : parseFloat(<%=@user_rate[:mood]%>), readOnly: true});
});
<% end %>
Vandpibe: <span id="rate_waterpipe"></span><br />
Stemning: <span id="rate_mood"></span><br />
Service: <span id="rate_service"></span><br />
Indretning: <span id="rate_furniture"></span><br />