<% content_for(:title, @location.name.big + " Vandpibe Cafe") %>
<% content_for(:meta_title, @location.name.big + " Vandpibe Cafe") %>
<% content_for(:meta_description, @location.name.big + " Vandpibe Cafe ligger i " + @location.city.name.big + ". Alt hvad du vil vide om Cafeen, kan du læse på vandpibecafe.dk") %>

<section id="location">
	<div class="row">
		<div class="about">
			<div class="header">
				<h1><%=@location.name.big%></h1>
				<h2><%= link_to @location.city.name.big, city_path(@location.city.name) %></h2>
			</div>

			<div class="content">
				<% if @location.description != "" %>
				<%= simple_format(@location.description)%>
				<% end %>

				<ul id="uploads">
					<%= render(:partial => 'locations/partials/upload', :collection => @location.uploads, :as => :upload)%>
				</ul>
			</div>

			
			<div class="comments-container">
				<div class="comments-header">
					<h3>Bruger anmeldelser (<%=@location.comments.length%>)</h3>
				</div>

				<div class="content">
					<% if @location.visible? %>
					<div class="panel">
						<%= render 'locations/partials/comment_form' %>
					</div>
					<% end %>

					<ul class="comments-list">
						<%=render :partial => 'locations/partials/comment', :collection => @location.comments.order('id DESC').includes(:user) %>
					</ul>
				

					<% if @location.visible? && @location.comments.length > 5 %>
					<div class="panel">
						<%= render 'locations/partials/comment_form' %>
					</div>
					<% end %>
				</div>
			</div>
		</div> 
		<div class="info">
			<div id="right" class="linear-gradient top-right-bottom-right-corner">
				<%= render 'locations/partials/map' %>
				<div class="sidebar-block">
					<div class="sidebar-label">Adresse</div>
					<div class="sidebar-content"><%= render 'locations/partials/address' %></div>
				</div>
				<% unless @location.references.empty? %>
				<div class="sidebar-block">
					<div class="sidebar-label">Find <%=@location.name.big%> på:</div>
					<div class="sidebar-content"><ul><%= render(:partial => 'locations/partials/reference', :collection => @location.references, :as => :reference)%></ul></div>
				</div>
				<% end %>
				<div class="sidebar-block">
					<div class="sidebar-label">Bedømmelse</div>
					<div class="sidebar-content"><%= render :partial => 'locations/partials/rating', :locals => {:location => @location }%></div>
				</div>
				<% unless @location.tobaccos.empty? %>
				<div class="sidebar-block">
					<div class="sidebar-label">Vandpibe Tobak</div>
					<div class="sidebar-content"><%= render :partial => 'locations/partials/tobacco', :collection => @location.tobaccos, :as => :tobacco %></div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</section>

<%= javascript_tag do %>
$(document).ready(function() {
	if ($('.about').height() > $('.info').height()) {
		$('.info').height($('.about').height());
	}

 	if(window.location.hash) {
		var hash = window.location.hash.substring(1);
		$target = $('#comment-' + hash)
		$('html, body').stop().animate({'scrollTop': $target.offset().top - 100}, 900, 'swing', function() {
			console.log($target)
			$target.effect("highlight", {}, 2000);
		})
  	}

  	$(".fancybox").fancybox();
});

function updateScore(element, score) {
	$('#scores_' + element).val(score);
}
<% end %>