<%= render :partial => 'breadcrumbs'%>

<div class="row">        
	<div class="eight columns">
		<div class="panel whitepage" style="margin-bottom:15px;">
			<h2><%=@location.name.big%></h2>
			<p class="subheader"><%= @location.description%></p>
		</div>
		
		<div class="row">
			<div class="twelve columns">
				<% if !@location.uploads.empty?%>
				<ul class="block-grid three-up mobile-one-up" data-clearing>
					<%= render(:partial => 'upload', :collection => @location.uploads, :as => :upload)%>
				</ul>
				<% end %>
			</div>
		</div>
		
		<div class="row">
			<div class="six columns">
				<div class="panel callout"><%= render 'site_rating'%></div>
			</div>

			<div class="six columns">
				<div class="panel callout"><%= render 'user_rating'%></div>
			</div>
		</div>
		
		<dl class="tabs">
		  <dd class="active"><a href="#simple1">Brugeranmeldelser (<%=@location.comments.length%>)</a></dd>
		</dl>
		<ul class="tabs-content">
			<li class="active whitepage">
				<ul id="location_comments">
					<%=render :partial => 'comment', :collection => @location.comments.includes(:user), :spacer_template => 'spacer_template'%>
				</ul>
			</li>
		</ul>
		
		<div class="panel graypage">
			<% if not logged_in? %>
				<strong>Du bedes <a href="/auth/facebook">logged ind</a> hvis du vil anmelde den her cafe</strong>
			<% else %>
				<%= render 'comment_form' %>
			<% end %>
		</div>

	</div>
	<div class="four columns">
		<div class="panel hide-for-small" id="map" style="height:250px;">
			<%= javascript_tag do %>
				$(function() {
					init_map(<%=@location.city.id%>, <%=@location.id%>)
				});
			<% end %>
	    </div>
	
		<div class="panel">
			<h3>Adresse:</h3>
			<p><%=@location.name.big%><br />
			<%=@location.address%><br />
			<%=@location.post%></p>
			<a class="button" href="http://maps.google.com?q=<%=@location.address%>,<%=@location.post%>">Vis på kort</a>
		</div>
		
		<div class="serve">
			<h3>Vandpibe Tobak:</h3>
			<%= render :partial => 'tobacco', :collection => @location.tobaccos, :as => :tobacco %>
		</div>
		
		<br />
		
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
			<a class="addthis_button_preferred_1"></a>
			<a class="addthis_button_preferred_2"></a>
			<a class="addthis_button_preferred_3"></a>
			<a class="addthis_button_preferred_4"></a>
			<a class="addthis_button_compact"></a>
			<a class="addthis_counter addthis_bubble_style"></a>
		</div>
		
	</div>
</div>