<% content_for(:title, 'Del din mening') %>

<div class="row">
	<div class="small-12 columns text-center">
		<p>Når du beskriver eller giver stjerner, så bør dine beskrivelser fokusere på at formidle dine erfaringer og oplevelser til andre brugere. </p>
		<%= simple_form_for Comment.new, :url => locations_path, :remote => true, :html => {:id => 'location_new_comment'} do |f| %>
			<div class="rate-container">
				<div class="rate-header">Hvordan var vandpiben på <%=@location.name.big%>?</div>
				<div class="rate-content"><div id="waterpipe" class="rate"></div><div id="waterpipe_hint" class="hint"></div></div>
				<%= javascript_tag do %>
					$('#waterpipe').raty({width: '100%', targetKeep: true, target: '#waterpipe_hint', readOnly: false, hints: ['Meget dårlig', 'Dårlig', 'Ok', 'God', 'Meget god'], click: function(score, evt){ updateScore('waterpipe', score)} });
				<% end %>
			</div>
			
			<div class="rate-container">
				<div class="rate-header">Hvordan var servicen på <%=@location.name.big%>?</div>
				<div class="rate-content"><div id="service" class="rate"></div><div id="service_hint" class="hint"></div></div>

				<%= javascript_tag do %>
					$('#service').raty({width: '100%', targetKeep: true, target: '#service_hint', readOnly: false, hints: ['Meget dårlig', 'Dårlig', 'Ok', 'God', 'Meget god'], click: function(score, evt){ updateScore('service', score)} });
				<% end %>
			</div>

			<div class="rate-container">
				<div class="rate-header">Hvordan var social livet på <%=@location.name.big%>?</div>
				<div class="rate-content"><div id="social" class="rate"></div><div id="social_hint" class="hint"></div></div>

				<%= javascript_tag do %>
					$('#social').raty({width: '100%', targetKeep: true, target: '#social_hint', readOnly: false, hints: ['Meget dårlig', 'Dårlig', 'Ok', 'God', 'Meget god'], click: function(score, evt){ updateScore('social', score)} });
				<% end %>
			</div>

			<div class="rate-container">
				<div class="rate-header">Hvordan var hygiene på <%=@location.name.big%>?</div>
				<div class="rate-content"><div id="clean" class="rate"></div><div id="clean_hint" class="hint"></div></div>

				<%= javascript_tag do %>
					$('#clean').raty({width: '100%', targetKeep: true, target: '#clean_hint', readOnly: false, hints: ['Meget dårlig', 'Dårlig', 'Ok', 'God', 'Meget god'], click: function(score, evt){ updateScore('clean', score)} });
				<% end %>
			</div>

			<%= text_field_tag "scores[waterpipe]", 0, :type => :hidden %>
			<%= text_field_tag "scores[clean]", 0, :type => :hidden %>
			<%= text_field_tag "scores[service]", 0, :type => :hidden %>
			<%= text_field_tag "scores[social]", 0, :type => :hidden %>
			
			<%= f.input :body, :label => 'Skriv om din oplevelse på denne café (Ikke et krav)', :required => false, :input_html => {:style => "height:150px"} %>
			<%= f.input :table_id, :as => :hidden, :input_html => { :value => @location.id }%>

			<%= f.button :submit, :value => "Send min vurdering", :class => "button", data: {disable_with: "Vent et øjeblik..."}  %>
		<% end %>
	</div>
</div>

<%= javascript_tag do %>
function updateScore(element, score) {
	$('#scores_' + element).val(score);
}
<% end %>