%title= content_for?(:title) ? content_for(:title) : 'Vandpibe Cafe'
%meta{charset: "utf-8"}/
%meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
%meta{content: content_for?(:meta_title) ? content_for(:meta_title) : "Oversigt over alle Vandpibe Cafeer i Danmark", name: "title"}/
%meta{content: content_for?(:meta_description) ? content_for(:meta_description) : "Oversigt over Vandpibe Cafeer i Danmark, Sverige og Tyskland. Samt billeder, bedømmelser, hvilken tobak de tilbyder osv.", name: "description"}/
%meta{content: content_for?(:meta_keywords) ? content_for(:meta_keywords) : "billige vandpiber, vandpibe shop, køb vandpibe, billig vandpibe, vandpiber til salg, vandpibe tilbehør, vandpibe aalborg, vandpiben, vandpibe køb, vandpiber online, kul til vandpibe, habibi vandpiber, vandpibe cafe, vandpibe københavn, vandpibe aarhus, vandpibe århus", name: "keywords"}/
%meta{content: "329437535A44CABEF398D1F8F8FEC91E", name: "msvalidate.01"}/

= render '/layouts/google'

= vendored_stylesheet_link_tag "http://fonts.googleapis.com/css?family=Advent+Pro:500,700|Noticia+Text:400,400italic,700,700italic&subset=latin,latin-ext"
= vendored_stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css"
= stylesheet_link_tag "application"
= csrf_meta_tags
/ If browser is internet explorer run HTML5 compatibility code
/[if IE]
  <script src="/assets/html5.js"></script>
