%header#navigation
  .row
    %ul.left
      %li.spot
        %a(href="#{root_url}")
          %i.fa.fa-home
          %span Hjem
      %li.spot
        %a(href="#{cities_path}")
          %i.fa.fa-globe
          %span Cafeer
      %li.spot
        %a(href="#{store_path}")
          %i.fa.fa-shopping-cart
          %span Køb
      %li.spot
        %a(href="#{toplist_path}")
          %i.fa.fa-signal
          %span Topliste
    %ul.center
      %li.logo
        %a(href="#{root_url}")
          = image_tag('logo4.png', :alt => "VandpibeCafe.dk")
    %ul.right
      %li#login.login

:javascript
  $(function() {
    $.get('#{authjs_path}', function(data) {
      $('#login').html(data)
    });
  })
