<header id="navigation">
	<div class="row">
		<div class="large-12 columns"></div>
			<ul>
				<li class="logo">
					<a href="<%=root_url%>">
						<%=image_tag('logo4.png', :alt => "VandpibeCafe.dk") %>
					</a>
				</li>
				<li class="spot">
					<a href="<%=root_url%>">
						<i class="icon-home"></i>
						<span>Hjem</span>
					</a>
				</li>
				<li class="spot">
					<a href="<%=store_path%>">
						<i class="icon-cart"></i>
						<span>Køb</span>
					</a>
				</li>
				<li class="spot">
					<a href="<%=toplist_path%>">
						<i class="icon-bars"></i>
						<span>Topliste</span>
					</a>
				</li>
				<li id="login" class="login">
				</li>
			</ul>
		</div>
	</div>
</header>

<%= javascript_tag :login do %>
$(function() {
  $.get('<%=authjs_path%>', function(data) {
    $('#login').html(data)
  });
})
<% end %>