<!DOCTYPE html>
<html class="no-js" lang="da" itemscope itemtype="http://schema.org/Vandpibe">
  <head>
    <%= render '/layouts/header' %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= render :partial => 'layouts/sections/left_menu' %>
    <%= render :partial => 'layouts/sections/page' %>
    <%= render :partial => 'layouts/sections/right_menu' %>

    <%= javascript_include_tag "bottom" %>
  </body>
</html>
